<!DOCTYPE html>
<html>

<head>
    <title>Rejection Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Rejection Analysis Dashboard</h1>

    {% if error %}

        <h3 style="color:red;">
            {{ error }}
        </h3>

    {% else %}

    <h2>Top 10 Rejected States</h2>

    <table>
        <tr>
            <th>State</th>
            <th>Count</th>
        </tr>

        {% for item in top_states %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>Top 10 Rejected Counties</h2>

    <table>
        <tr>
            <th>County</th>
            <th>Count</th>
        </tr>

        {% for item in top_counties %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>Top 10 Rejection Reasons</h2>

    <table>
        <tr>
            <th>Reason</th>
            <th>Count</th>
        </tr>

        {% for item in top_reasons %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>AI Root Cause Analysis</h2>

    <div class="ai-response">
        {{ ai_analysis|safe }}
    </div>

    {% endif %}

</div>

</body>
</html>